
{% extends 'navigationbar.html'%}
{%block body %}
{% load static %}

<!-- About Section -->
<div class="w3-container w3-padding-64 w3-grey  w3-xlarge" id="about">
  <div class="w3-content">
    <h1 class="w3-center w3-jumbo" style="margin-bottom:64px">About</h1>
    <div class="w3-container w3-padding-32 w3-center">  
     <img src="{%static '/images/6.jpg'%}" alt="Me" class="w3-image" style="display:block;margin:auto" width="800" height="533">
    <div class="w3-padding-32">
      <h4><b>I am Who I Am!</b></h4>
    
    <p>Since 1990, Search Associates has connected thousands of outstanding candidates with hundreds of the best international schools around the world. We have become the world's premier international school recruiting agency, having been directly involved in assisting in over 40,000 primary and secondary administrators, teachers, and interns to find jobs. We believe that our success as the largest international school recruitment organization is the result of our long history of hard work and close partnership with the schools and candidates we serve.

    Our Senior Associates and Consultants have a total of over 500 years of experience working in the international school community. As former administrators, school heads, and teachers, our team understands every aspect of school operations, and we continually strive to provide each school with outstanding support and personalized attention.

.</p>
    <p><strong>School?</strong> Mr. Abhishek Patel<img src="{%static '/images/8.jpg'%}" style="width:150px" class="w3-circle w3-right" alt="Chef"></p>
    <p>We are proud of our members.</p>
    <p>Our unparalleled depth of experience, knowledge, and thoroughness is integral to our commitment assisting schools in the following areas: recruiting, head of school/leadership searches, as well as consulting and training. We also provide advertising opportunities through our website, which reach an exceedingly large audience of people interested in international education
    </p>
  </div>

  
{%endblock%}